/*noinspection ALL*/

@font-face {
    font-family: "Bree Serif";
    src: url('../fonts/BreeSerif-Regular.eot');
    src: url('../fonts/BreeSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BreeSerif-Regular.woff2') format('woff2'),
    url('../fonts/BreeSerif-Regular.woff') format('woff'),
    url('../fonts/BreeSerif-Regular.svg#BreeSerif-Regular') format('svg'),
    url('../fonts/BreeSerif-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url("../images/cantfixthat.jpg");
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    height: calc(100% - 1px);
}

form {
    width: 100%;
    margin-bottom: 2%;
}

select {
    padding: 2px;
    border-radius: 4px;
    border: solid 1px black;
}

a:link {
    color: #00ffe9;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #e289ff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #f616d8;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #9e78ff;
    background-color: transparent;
    text-decoration: underline;
}

input[type=button], input[type=submit], input[type=reset], button {
    background-color: #F0D6A3;
    border: solid 1px black;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px; /* Увеличьте размер шрифта в кнопках */
    padding: 10px 20px; /* Увеличьте отступы внутри кнопок */
}

input[type=text] {
    padding: 2px;
    width: fit-content;
    background-color: #d7d7d7;
    border: solid 1px black;
    border-radius: 2px;
}

/* This is our style for the invalid fields */
input.invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus.invalid {
    outline: none;
}

p {
    margin: 0.5em;
    font-size: 18px; /* Увеличьте размер текста в блоках p */
}

table {
    border: solid 2px black;
    border-collapse: collapse;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}

th, td {
    border: solid 1px black;
    padding: 15px; /* Увеличьте внутренние отступы ячеек */
    font-size: 18px;
}
th {
    font-size: 20px; /* Увеличьте размер шрифта в заголовке таблицы */
}
.margin {
    margin: 2px;
}

.round-container {
    border: solid 2px black;
    border-radius: 4px;
}

.blured-container {
    width: 130%;
    color: #F0EEEB;
    background-color: rgba(77, 77, 77, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.fit-content-container {
    width: fit-content;
    height: fit-content;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    padding: 5px;
    box-shadow: 0 -20px 100px black;
    overflow: auto;
    font-family: "Bree Serif", serif;
    color: #ffffff;
    font-size: 15px;
    height: fit-content; /* автоматический размер для хедера */
    background-color: rgba(77, 77, 77, 0.5);

    /* Применяем размытие к хедеру */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}




#result-table-container {
    padding: 2px;
    width: fit-content;
    height: fit-content;
}

